script: "script/test_all"
bundler_args: "--standalone --binstubs --without documentation"
rvm:
  - 1.8.7
  - 1.9.2
  - 1.9.3
  - jruby-18mode
  - jruby-19mode
  - ree
  - rbx-18mode
  - rbx-19mode
  - 2.0.0
