language: ruby
script: "script/test_all 2>&1"
bundler_args: "--standalone --binstubs"
rvm:
  - 1.8.7
  - 1.9.2
  - 1.9.3
  - ree
  - jruby-18mode
  - jruby-19mode
  - rbx-2.2.1
  - rbx
  - 2.0.0
matrix:
  allow_failures:
    - rvm: rbx-2.2.1
    - rvm: rbx

